<h1 class="title">Message Board</h1>
<%= link_to 'Leave Message', new_user_path %>
<div class="container">
  <% @users.each do |user| %>
  <div class="user-item">
    <h3><%= user.name %></h3>
    <p><%= user.message %></p>
    <p class= "time"><%= user.created_at.time.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
  <% end %>
</div>
